h1{
    font-size: 43px;
}
html{
    background-color: rgb(44, 44, 44);
    color: rgb(231, 231, 231);
    text-align: center;
}
p {
    font-size: 20px;
}
div {
    font-size: 20px;
    margin-top: 50px;
}
button {
    margin: 10px 30px;
    background-color:silver;
    border-radius: 5px;
    padding: 5px;
}
img {
    margin-top: 1px;
    margin-right: 10px;
    width: 150px;
    height: 236px;
    perspective: 1000px;
    border-radius: 5px;
    position: relative;
}
#again{
    visibility: hidden;
}
